.html {
    scroll-behavior: smooth;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url("../images/load.gif") no-repeat center;
    background-size: 80px;
    z-index: 99999;
}

.nav-link {
    color: whitesmoke !important;
}

.navbar-toggler-icon {
    background: transparent;
    color: #000;
}

.navbar-toggler-icon::before {
    background: transparent;
    font-family: FontAwesome;
    content: "\f0c9";
    /* fa-bars, fa-navicon */
}

.Home {
    background: url('../images/photo-of-person-typing-on-computer-keyboard-735911.jpg');
    background-size: cover;
}

.AboutMe {
    background: url('../images/office-620822.jpg');
    background-size: cover;
}

.about {
    background: rgba(205, 92, 92, 0.7);
}

.Projects {
    background: url('../images/white-paper-on-laptop-computer-2903063.jpg');
    background-size: cover;
}

.P1 {
    background: transparent;
    border: none;
}

.P2 {
    background: transparent;
    border: none;
}

.P3 {
    background: transparent;
    border: none;
}

.PlaceInfo {
    background: url('../images/close-up-of-text-on-black-background-256502.jpg');
    background-size: cover;
}

.Res {
    background: url('../images/white-paper-on-laptop-computer-2903063.jpg');
    background-size: cover;
}

.ResInfo {
    background: url('../images/close-up-of-text-on-black-background-256502.jpg');
    background-size: cover;
}

.Experience {
    background: url('../images/silver-and-black-laptop-computer-1229861.jpg');
    background-size: cover;
}

.Certifications {
    background: url('../images/silver-and-black-laptop-computer-1229861.jpg');
    background-size: cover;
    padding-top: 75px;
}

.iScrollIndicator {
    background: gold !important;
}

.Skills {
    background: url('../images/close-up-of-text-on-black-background-256502.jpg');
    background-size: cover;
}

.skillcard {
    background: transparent;
    border: none;
}

.ContactMe {
    background: url('../images/selective-focus-photo-of-green-telephone-955081.jpg');
    background-size: cover;
}

span {
    background: whitesmoke !important;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url('../images/bg.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.HomePage {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
    box-shadow: 0px 4px 15px -5px #0046d5;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }
    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
}

.Place {
    background: url('../images/writing-1149962_640.jpg');
    background-size: cover;
}